name: Build and Deploy
on:
  push:
    branches:
      - main  # Set a branch to deploy
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20.9.0'  # Set the Node.js version

    - name: Install Dependencies
      run: npm install

    - name: Build
      run: npm run build && touch ./out/.nojekyll

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@releases/v4
      with:
        branch: gh-pages  # The branch the action should deploy to.
        folder: out  # The folder the action should deploy.
        token: ${{ secrets.GH_PAGES_TOKEN }} ## build token
